<div class="container">
  <div class="row">
    <div class="col-md-4">
      <br /><br />
      <button class="btn btn-secondary" routerLink="/">Geri</button>
    </div>
    <body class="text-center">
      <main class="form-signin">
        <form [formGroup]="loginForm">
          <h1 class="h3 mb-3 fw-normal">Lütfen Giriş Yapınız</h1>

          <div class="form-floating">
            <input
              type="email"
              class="form-control"
              id="email"
              formControlName="email"
              placeholder=" "
            />
            <label for="email">E-Posta</label>
          </div>
          <div class="form-floating">
            <input
              type="password"
              class="form-control"
              id="password"
              formControlName="password"
              placeholder=" "
            />
            <label for="password">Parola</label>
          </div>

          <button
            class="w-100 btn btn-lg btn-primary"
            type="submit"
            (click)="login()"
          >
            Giriş Yap
          </button>
        </form>
        <p class="mt-5 mb-3 text-muted" routerLink="/register">
          Henüz Bir Hesabın Yok Mu? Kayıt Ol
        </p>
      </main>
    </body>
  </div>
</div>
