<div class="loader" *ngIf="dataLoaded == false"></div>
<br />
<div class="row">
  <div class="col-md-12" *ngIf="dataLoaded == true">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <select
          [(ngModel)]="currentBrandId"
          class="form-select"
          aria-label="Default select example"
        >
          <option [selected]="cleanCurrentBrand()" [value]="undefined">
            --- Bir marka seçiniz ---
          </option>
          <option
            *ngFor="let brand of brands"
            [value]="brand.brandId"
            [selected]="getCurrentBrandId(brand)"
          >
            {{ brand.brandName }}
          </option>
        </select>
      </div>
      <div class="col-md-3">
        <select
          [(ngModel)]="currentColorId"
          class="form-select"
          aria-label="Default select example"
        >
          <option [selected]="cleanCurrentColor()" [value]="undefined">
            --- Bir renk seçiniz ---
          </option>
          <option
            *ngFor="let color of colors"
            [value]="color.colorId"
            [selected]="getCurrentColorId(color)"
          >
            {{ color.colorName }}
          </option>
        </select>
      </div>
      <div class="col-md-1">
        <button
          [routerLink]="setRouterLink()"
          type="button"
          class="btn btn-primary mybtn"
        >
          Filtrele
        </button>
      </div>
      <div class="col-md-2">
        <button
          routerLink="/cars"
          type="button"
          class="btn btn-danger"
          style="height: 100%"
        >
          Filtreyi Temizle
        </button>
      </div>
    </div>
  </div>
</div>

<br />
<div class="row mb-3 mt-2" *ngIf="dataLoaded == true">
  <div class="mb-3">
    <input
      type="text"
      [(ngModel)]="filterText"
      class="form-control"
      id="filterText"
      placeholder="Araç Ara"
    />
  </div>

  <div
    class="card"
    routerLink="/cars/cardetail/{{ car.carId }}"
    *ngFor="let car of cars | filterPipe: filterText"
  >
    <div class="card-body">
      <img
        class="card-img"
        [src]="
          car.imagePath.length !== 0
            ? baseUrl + car.imagePath[0]
            : imageDefaultPath
        "
        alt="{{ car.carId }}"
        style="width: 100%; height: 225px"
      />
    </div>
    <div class="card-body">
      <h5 class="card-title text-light">
        {{ car.description }}
      </h5>
    </div>
    <div
      class="card-body"
      style="
        background-color: #ffd700;
        border-radius: 15px;
        margin-bottom: 15px;
      "
    >
      <ul class="list-group list-group-flush">
        <li class="list-group-item my-li">
          <b> Marka : {{ car.brandName }}</b>
        </li>
        <li class="list-group-item my-li">
          <b> Renk : {{ car.colorName }}</b>
        </li>
        <li class="list-group-item my-li">
          <b> Model Yılı : {{ car.modelYear }}</b>
        </li>
        <li class="list-group-item my-li">
          <b> Günlük Fiyat : {{ car.dailyPrice }}</b>
        </li>
        <li class="list-group-item my-li">
          <b> Gereken Findex Puanı : {{ car.minFindex }}</b>
        </li>

        <li class="list-group-item my-li">
          <b> KDV'li Günlük Fiyat : {{ car.dailyPrice | vatAdded: 18 }}</b>
        </li>
        <li class="list-group-item my-li">
          <b> Model Yılı : {{ car.modelYear }}</b>
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="cars?.length < 1">
    <div class="alert alert-success" role="alert">
      <h4 style="text-align: center" class="alert-heading">
        Bu Filtreye Uygun Bir Araç Bulunamadı
      </h4>
      <hr />
      <p style="text-align: center" class="mb-0">
        Lütfen Farklı Bir Filtreyle Tekrar Deneyiniz
      </p>
    </div>
  </div>
</div>
