<nav class="navbar navbar-expand-md navbar-light fixed-top bg-mybg bg-gradient">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">RentACar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/customers">Müşteriler</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            tabindex="-1"
            aria-disabled="false"
            routerLink="/cars/update"
            >Güncelle</a
          >
        </li>
      </ul>
      <form class="d-flex" *ngIf="Authenticated == false">
        <button class="btn btn-danger" routerLink="/register">Kayıt Ol</button>
        <button class="btn btn-primary" type="submit" routerLink="/login">
          Giriş Yap
        </button>
      </form>
      <ul
        class="navbar-nav me-auto mb-2 mb-lg-0"
        *ngIf="Authenticated != false"
      >
        <li class="nav-item dropdown right">
          <a
            class="nav-link dropdown-toggle text-dark"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ user.firstName }}
            {{ user.lastName }} (Findex : {{ user.findexPoint }})
          </a>

          <ul
            class="dropdown-menu colorlb"
            aria-labelledby="navbarDropdown"
            style="background-color: lightblue"
          >
            <li class="colorl">
              <a class="dropdown-item" routerLink="/profile">Profil</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" (click)="logOut()">Çıkış Yap</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br />
<br />
<br />
