<li *ngIf="cartItems.length > 0" class="nav-item dropdown">
  <a
    class="nav-link dropdown-toggle"
    href="#"
    id="navbarDropdown"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Sepetiniz
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li *ngFor="let cartItem of cartItems">
      <a class="dropdown-item"
        ><span *ngIf="cartItem.quantity > 1" class="badge bg-secondary">{{
          cartItem.quantity
        }}</span>
        {{ cartItem.car.descript
        }}<button
          (click)="removeFromCart(cartItem.car)"
          type="button"
          class="btn-close"
          aria-label="Close"
        ></button
      ></a>
    </li>
    <li>
      <a class="dropdown-item"></a>
    </li>
    <li><hr class="dropdown-divider" /></li>
    <li><a class="dropdown-item">Sepete Git</a></li>
  </ul>
</li>
