<div class="loader" *ngIf="dataLoaded == false"></div>

<br />
<div class="content" *ngIf="dataLoaded == true">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="title text-danger" style="text-align: center">
            Araç Ekle
          </h5>
        </div>
        <div class="card-body">
          <form [formGroup]="carAddForm">
            <div class="form-floating mb-3">
              <input
                type="number"
                class="form-control"
                id="brandId"
                formControlName="brandId"
                placeholder=" "
              />
              <label for="brandId">Marka (ID)</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="number"
                class="form-control"
                id="colorId"
                formControlName="colorId"
                placeholder="RenkId"
              />
              <label for="colorId">Renk (ID)</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="number"
                class="form-control"
                id="modelYear"
                formControlName="modelYear"
                placeholder=" "
              />
              <label for="modelYear">Model Yılı</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="number"
                class="form-control"
                id="dailyPrice"
                formControlName="dailyPrice"
                placeholder=" "
              />
              <label for="dailyPrice">Günlük Fiyat (KDV* Hariç)</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="number"
                class="form-control"
                id="minFindex"
                formControlName="minFindex"
                placeholder="Minimum Findex"
              />
              <label for="colorId">Minimum Findex</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="descript"
                formControlName="descript"
                placeholder=" "
              />
              <label for="descript">Marka ve Model</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="brandName"
                formControlName="brandName"
                placeholder=" "
              />
              <label for="brandName">Marka Adı</label>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button
            class="btn btn-fill btn-success pull-rigth"
            (click)="add()"
            style="float: right; width: 30%"
          >
            <i class="bi bi-plus-circle"></i>
            Ekle
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <div class="card" style="width: 18rem">
            <div class="card-header">Markalar</div>
            <ul class="list-group list-group-flush">
              <li *ngFor="let brand of brands" class="list-group-item">
                {{ brand.brandId }} : {{ brand.brandName }}
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card" style="width: 18rem">
            <div class="card-header">Renkler</div>
            <ul class="list-group list-group-flush">
              <li *ngFor="let color of colors" class="list-group-item">
                {{ color.colorId }} : {{ color.colorName }}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <br />
      <p style="font-size: 1px">*KDV : %18</p>
    </div>
  </div>
</div>
