<br />
<button
  type="button"
  class="btn"
  style="background-color: rgb(59, 111, 151); color: white"
  aria-label="Close"
  routerLink="/profile"
>
  Geri
</button>
<br /><br />
<div class="card">
  <div class="card-header">
    <h5 class="title" style="text-align: center; color: rgb(59, 111, 151)">
      Şifre Güncelle
    </h5>
  </div>
  <div class="card-body">
    <form [formGroup]="passwordForm">
      <div class="form-floating mb-3">
        <input
          type="password"
          class="form-control"
          id="oldPassword"
          formControlName="oldPassword"
          placeholder=" "
        />
        <label for="oldPassword">Eski Şifre</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="newPassword"
          formControlName="newPassword"
          placeholder="Password"
        />
        <label for="newPassword">Yeni Şifre</label>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <button class="btn mybtn" (click)="change()">Şifreyi Yenile</button>
  </div>
</div>
