<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>
<div class="row" *ngIf="dataLoaded != false">
  <div class="col-md-4">
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      routerLink="/cars"
    ></button>
  </div>
  <div class="col-md-4">
    <div class="card" *ngIf="dataLoaded == true">
      <div class="card-header">
        Minimum Findex Puanı : {{ carDetail.car.minFindex }}
      </div>
      <div class="card-body">
        <div
          id="carouselExampleIndicators"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div
              *ngFor="let image of carDetail.carImages; let i = index"
              [ngClass]="getSliderClass(i)"
            >
              <img
                src="{{ imageBasePath }}{{ image.imagePath }}"
                class="d-block"
                width="100%"
                height="100%"
                alt="..."
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </button>
        </div>

        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Id : {{ carDetail.car.carId }}</li>
            <li class="list-group-item">
              Marka : {{ carDetail.car.brandName }}
            </li>
            <li class="list-group-item">
              Renk : {{ carDetail.car.colorName }}
            </li>
            <li class="list-group-item">
              Model : {{ carDetail.car.modelYear }}
            </li>
            <li class="list-group-item">
              Günlük Kira : ₺{{ carDetail.car.dailyPrice }}
            </li>
            <li class="list-group-item">
              KDV'li Kira Fiyatı : ₺{{
                carDetail.car.dailyPrice | vatAdded: 18
              }}
            </li>
            <div *ngFor="let claim of claims">
              <div
                class="d-grid gap-2 mb-2"
                *ngIf="
                  carDetail.car.status == true &&
                  carDetail.car.minFindex <= user.findexPoint &&
                  claim.operationClaimName != 'admin'
                "
                style="width: 100%"
              >
                <app-rent-car [car]="carDetail.car"></app-rent-car>
              </div>
              <div
                class="d-grid gap-2 mb-2"
                *ngIf="carDetail.car.minFindex > user.findexPoint"
                style="width: 100%"
              >
                <div class="alert alert-info">
                  Findex Puanınız ({{ user.findexPoint }}) Bu Araç İçin Yeterli
                  Değil.
                </div>
              </div>
              <div
                class="d-grid gap-2 mb-2"
                *ngIf="carDetail.car.status != true"
                style="width: 100%"
              >
                <div class="alert alert-info">Araç Henüz Teslim Edilmemiş</div>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <br />
    <br />
    <div *ngFor="let claim of claims">
      <button
        *ngIf="claim.operationClaimName == 'admin'"
        class="btn btn-success"
        style="width: 100%"
        routerLink="/cars/update/{{ carDetail.car.carId }}"
      >
        <i class="bi bi-pencil-square"> Güncelle</i>
      </button>
      <br />
      <br />
      <button
        *ngIf="claim.operationClaimName == 'admin'"
        style="width: 100%"
        class="btn btn-danger"
      >
        <i class="bi bi-trash-fill"></i>
        Sil
      </button>
    </div>
  </div>
</div>
