<div class="card">
  <div class="card-body">
    <form [formGroup]="changePasswordForm">
      <div class="mb-3">
        <label for="email" class="form-label">Mail Adresi</label>
        <input
          type="email"
          class="form-control"
          formControlName="email"
          id="email"
          placeholder="name@example.com"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Yeni Parola</label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
          id="password"
          placeholder="●●●●●●●●"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Parola Tekrar</label>
        <input
          type="password"
          class="form-control"
          formControlName="repeatPassword"
          id="repeatPassword"
          placeholder="●●●●●●●●"
        />
      </div>
    </form>
  </div>
  <div class="card-footer">
    <button
      class="btn btn-success"
      style="float: right"
      (click)="changePassword()"
    >
      Şifreyi Yenile
    </button>
  </div>
</div>
