<ul class="list-group list-group-flush">
  <li class="list-group-item">
    Kiralana Araç :
    <strong>{{ carDetail.car.description }}</strong>
  </li>
  <li class="list-group-item">
    Renk : <strong>{{ carDetail.car.colorName }}</strong>
  </li>
  <li class="list-group-item">
    Model :<strong> {{ carDetail.car.modelYear }}</strong>
  </li>
  <li class="list-group-item">
    KDV'li Kira Fiyatı :
    <strong>
      {{ carDetail.car.dailyPrice | vatAdded: 18 | currency: "₺" }}/Gün</strong
    >
  </li>
  <li class="list-group-item">
    Toplam Ödenecek Tutar :
    <b class="text-success">{{
      amountOfPayment | vatAdded: 18 | currency: "₺"
    }}</b>
  </li>
</ul>

<div class="card mt-4">
  <div class="card-header text-center">
    <strong>Ödeme İşlemi</strong>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="inputbox mt-3">
        <span>Kart sahibinin adı soyadı</span>
        <input
          type="text"
          name="name"
          class="form-control"
          required="required"
        />
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="inputbox mt-3 mr-2">
            <span>Kart numarası</span>
            <input
              type="text"
              name="name"
              class="form-control"
              required="required"
            />
            <i class="fa fa-credit-card"></i>
          </div>
        </div>
        <div class="col-md-6">
          <div class="d-flex flex-row">
            <div class="inputbox mt-3 mr-2">
              <span>Son kullanım tarihi</span>
              <input
                type="text"
                name="name"
                class="form-control"
                required="required"
              />
            </div>
            <div class="inputbox mt-3 mr-2">
              <span>Güvenlik kodu</span>
              <input
                type="text"
                name="name"
                class="form-control"
                required="required"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <button (click)="pay()" class="btn btn-primary">
        Ödeme Yap
        <strong class="text-warning"
          >({{ amountOfPayment | vatAdded: 18 | currency: "₺" }})
        </strong>
      </button>
    </div>
  </div>
</div>
