<p>
  <a
    class="btn btn-primary changea"
    data-bs-toggle="collapse"
    href="#multiCollapseExample1"
    role="button"
    aria-expanded="false"
    aria-controls="multiCollapseExample1"
    >Markalar</a
  >
</p>

<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="mb-3">
        <input
          type="text"
          [(ngModel)]="filterText"
          class="form-control"
          id="brandFilterText"
          placeholder="Marka Ara"
        />
      </div>
      <ul
        class="list-group"
        *ngIf="dataLoaded != false"
        style="text-align: center"
      >
        <li
          routerLink="/cars"
          [class]="getAllBrandClass()"
          (click)="CleanCurrentBrand()"
        >
          Tüm Arabalar
        </li>
        <li
          (click)="setCurrentBrand(brand)"
          *ngFor="let brand of brands | brandFilterPipe: filterText"
          [class]="getCurrentBrandClass(brand)"
          routerLink="/cars/brand/{{ brand.brandId }}"
        >
          {{ brand.brandName }}
        </li>
      </ul>
    </div>
  </div>
</div>
