<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-warning"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>
<br />
<div class="row">
  <div class="col-md-12" *ngIf="dataLoaded == true">
    <div class="row">
      <div class="col-md-2">
        <button routerLink="/cars" type="button" class="btn btn-primary mybtn">
          Tüm Araçlar
        </button>
      </div>
      <div class="col-md-3">
        <select
          [(ngModel)]="currentBrandId"
          class="form-select"
          aria-label="Default select example"
        >
          <option [selected]="cleanCurrentBrand()" [value]="undefined">
            --- Bir marka seçiniz ---
          </option>
          <option
            *ngFor="let brand of brands"
            [value]="brand.brandId"
            [selected]="getCurrentBrandId(brand)"
          >
            {{ brand.brandName }}
          </option>
        </select>
      </div>
      <div class="col-md-2">
        <button
          [routerLink]="setRouterLink()"
          type="button"
          class="btn btn-primary mybtn"
        >
          Filtrele
        </button>
      </div>
      <div class="col-md-3">
        <select
          [(ngModel)]="currentColorId"
          class="form-select"
          aria-label="Default select example"
        >
          <option [selected]="cleanCurrentColor()" [value]="undefined">
            --- Bir renk seçiniz ---
          </option>
          <option
            *ngFor="let color of colors"
            [value]="color.colorId"
            [selected]="getCurrentColorId(color)"
          >
            {{ color.colorName }}
          </option>
        </select>
      </div>
      <div class="col-md-2">
        <button
          [routerLink]="setRouterLink()"
          type="button"
          class="btn btn-primary mybtn"
        >
          Filtrele
        </button>
      </div>
    </div>
  </div>
</div>

<br />
<div class="row mb-3 mt-2">
  <div class="mb-3">
    <input
      type="text"
      [(ngModel)]="filterText"
      class="form-control"
      id="filterText"
      placeholder="Araç Ara"
    />
  </div>
  <div
    class="card"
    routerLink="/cars/cardetail/{{ car.carId }}"
    style="margin: 7px; width: 24rem; margin-top: 10px"
    *ngFor="let car of cars | filterPipe: filterText"
  >
    <div class="card-body">
      <img
        class="card-img-top"
        *ngIf="car.imagePath == null"
        src="{{ imageDefaultPath }}"
        alt="{{ car.carId }}"
        style="width: 100%"
      />
      <img
        class="card-img-top"
        *ngIf="car.imagePath != null"
        src="{{ baseUrl + car.imagePath }}"
        alt="{{ car.carId }}"
        style="width: 100%; height: 225px"
      />
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ car.description }}</h5>
    </div>
    <div class="card-body" style="background-color: #ffd700">
      <ul class="list-group list-group-flush">
        <li class="list-group-item my-li">Marka : {{ car.brandName }}</li>
        <li class="list-group-item my-li">Renk : {{ car.colorName }}</li>
        <li class="list-group-item my-li">Model Yılı : {{ car.modelYear }}</li>
        <li class="list-group-item my-li">
          Günlük Fiyat : {{ car.dailyPrice }}
        </li>
        <li class="list-group-item my-li">
          KDV'li Günlük Fiyat : {{ car.dailyPrice | vatAdded: 18 }}
        </li>
        <li class="list-group-item my-li">Model Yılı : {{ car.modelYear }}</li>
      </ul>
    </div>
  </div>
</div>
